# Target Config
CONFIG_TARGET_bcm27xx=y
CONFIG_TARGET_bcm27xx_bcm2711=y
CONFIG_TARGET_bcm27xx_bcm2711_DEVICE_rpi-4=y

## Wireless / WiFi Drivers (Raspberry Pi 4B BCM43455)
CONFIG_PACKAGE_kmod-cfg80211=y
CONFIG_PACKAGE_kmod-mac80211=y
CONFIG_PACKAGE_kmod-brcmutil=y
CONFIG_PACKAGE_kmod-brcmfmac=y
CONFIG_PACKAGE_cypress-firmware-43455-sdio=y
CONFIG_PACKAGE_brcmfmac-nvram-43455-sdio=y
CONFIG_PACKAGE_wpad-basic-mbedtls=y
CONFIG_PACKAGE_wireless-tools=y
CONFIG_PACKAGE_iw=y
CONFIG_PACKAGE_hostapd-common=y

################################
# nftables 核心组件
################################
CONFIG_PACKAGE_nftables=y

################################
# 你指定的 kmod（全部加）
################################
CONFIG_PACKAGE_kmod-nft-compat=y
CONFIG_PACKAGE_kmod-nft-core=y
CONFIG_PACKAGE_kmod-nft-fib=y
CONFIG_PACKAGE_kmod-nft-offload=y
CONFIG_PACKAGE_kmod-nft-nat=y

################################
# nft 必备底层依赖（非常关键）
################################
CONFIG_PACKAGE_kmod-nf-conntrack=y
CONFIG_PACKAGE_kmod-nf-nat=y
CONFIG_PACKAGE_kmod-nf-table=y
CONFIG_PACKAGE_kmod-nf-flow=y
CONFIG_PACKAGE_kmod-nf-log=y

################################
# 常用扩展（避免规则报错）
################################
CONFIG_PACKAGE_kmod-ipt-core=y
CONFIG_PACKAGE_kmod-ipt-nat=y
CONFIG_PACKAGE_kmod-ipt-conntrack=y

################################
# 桥接+转发（很多人会漏）
################################
CONFIG_PACKAGE_kmod-bridge=y
CONFIG_PACKAGE_kmod-br-netfilter=y
